html,
body {
  height: 100%;
  width: 100%;
  background-color: #060507;
}

body {
  margin: 0;
}

.sky {
  position: absolute;
  color: #fff;
  padding: 12px;
  font-family: Helvetica;
}

#canvas{
  position: absolute;
  top: 0px;
  left: 0px;
}