@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: rgb(204,238,255);
  background: linear-gradient(0deg, rgba(204,238,255,1) 0%, rgba(91,191,241,1) 100%);
}

body {
  margin: 0;
}

.titleWrap{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  z-index: -6;
}
.CNLogo{
  margin: 0;
  width: 400px;
}
.title{
  margin: 0;
  font-size: 80px;
  font-family: 'Great Vibes', cursive;
  color: red;
  text-shadow: 2px 2px white;
}
h3{
  font-family: 'Great Vibes', cursive;
  color: red;
  margin: 0;
  font-size: 30px;
}

.sky {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 0 80px 0;
  height: 70vh;
  width: 100vw;
  z-index: 3;
  filter: drop-shadow(3px 2px rgb(104, 59, 0));
}

#canvas{
  position: absolute;
  top: 0px;
  left: 0px;
}

a{
  padding: 6px 60px;
  background-color: green;
  font-family: 'Gilroy';
  color: white;
  text-align: center;
  text-decoration: none;
  background-image: url("./images/wood.jpg");
}
.odd{
  clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 10% 100%, 0% 50%, 10% 0);
}
.even{
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
}
.pole{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 70vh;
  width: 30px;
  background-image: url("./images/stripes.png");
  background-size: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  z-index: -3;
}
.pole:before{
  content: '';
  position: absolute;
  height: 70vh;
  width: 30px;
  background: rgb(182,182,182);
  background: linear-gradient(90deg, rgba(182,182,182,0.49763655462184875) 0%, rgba(255,255,255,0) 50%, rgba(91,91,91,0.604079131652661) 100%);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.ground1 {
  position: absolute;
  bottom: 0px;
  height: 50px;
  width: 100vw;
  z-index: 4;
}
.ground2 {
  position: absolute;
  bottom: 0;
  height: 90px;
  width: 100vw;
}

@media screen and (max-width: 750px) {

  body {
    width: 100vw;
    overflow-x: hidden;
    overflow: visible;
    background: rgb(204,238,255);
    background: linear-gradient( rgba(91,191,241,1), rgba(204,238,255,1));
    background-attachment: fixed;
  }
  .titleWrap{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 30vh;
    box-sizing: border-box;
    padding: 20px 0px 0px 0px;
    z-index: -6;
  }
  .CNLogo{
    margin: 0;
    width: 250px;
  }
  .title{
    margin: 0;
    font-size: 40px;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    color: red;
    text-shadow: 2px 2px white;
  }

  .sky {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    align-items: center;
    padding: 0px 0 80px 0;
    height: 800px;
    width: 100vw;
    z-index: 3;
    filter: drop-shadow(3px 2px rgb(104, 59, 0));
  }
  .pole{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 100%;
    width: 30px;
    background-image: url("./images/stripes.png");
    background-size: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    z-index: -3;
  }
  .pole:before{
    content: '';
    position: absolute;
    height: 70vh;
    width: 30px;
    background: rgb(182,182,182);
    background: linear-gradient(90deg, rgba(182,182,182,0.49763655462184875) 0%, rgba(255,255,255,0) 50%, rgba(91,91,91,0.604079131652661) 100%);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
  }
  a{
    margin: 3px;
    padding: 10px 60px;
    background-color: green;
    font-family: 'Gilroy';
    color: white;
    text-align: center;
    text-decoration: none;
    background-image: url("./images/wood.jpg");
  }
}