body {
  font-family: futura;
}

.wrapper {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

canvas {
  border: 1px dashed darkgreen;
  /* height: 600px;
  width: 600px; */
}
