@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap");

body {
  font-family: "Montserrat";
  margin: 0;
}

#CNLogo{
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#CNLogoImage{
  height: 5vh;
  padding: 10px 20px;
}

.bellImage {
  position: relative;
  right: 20px;
  height: 100px;
}

.title {
  font-family: "Pacifico";
  display: flex;
  justify-content: center;
  color: #e3c345;
  padding-top: 50px;
}

h1 {
  border-bottom: #876347 solid 2px;
}

.bell-container {
  /* display: grid;
  grid-template-columns: repeat(5, 1fr); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bell {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* border: 1px solid gold; */
  padding: 5px;
  margin: 5px;
}

.bell img {
  transform-origin: top;
  transform: rotate(-12deg);
}

.ring-bell {
  animation-name: ring;
  animation-duration: 0.4s;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-12deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
/* 
.ring-bell-left {
  animation-name: ringLeft;
  animation-duration: 0.4s;
}

@keyframes ringLeft {
  0% {
    transform: rotate(-24deg);
  }

  20% {
    transform: rotate(-12deg);
  }

  100% {
    transform: rotate(-24deg);
  }
} */

.keys {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;

  padding-top: 10px;
  margin-top: 10px;
}

.key {
  border-radius: 50%;
  height: 40px;
  width: 40px;

  background-color: #f3e262;
  /* border-color: white; */
}

.press-key {
  animation-name: keypress;
  animation: 0.4s;
  background: tomato;
}

@keyframes keypress {
  50% {
    transform: scale(1.1);
  }
}

.buttons {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;

  padding-top: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.buttons button {
  padding: 10px;
  margin: 5px;
}

button {
  font-family: "Montserrat";
  font-weight: bold;
}

@media screen and (max-width: 650px){
  #CNLogo{
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0px;
    top: 0;
    transform: translateX(20%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 20;
  }
  
  #CNLogo > img{
    height: 15px;
    padding: 5px 10px;
  }
  .title {
    font-family: "Pacifico";
    display: flex;
    justify-content: center;
    color: #e3c345;
    padding-top: 0px;
  }
}