body{
  background-image: url('./images/christmasBackground.jpg');
  overflow: hidden;
}

.gameWrap{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
canvas{
  border: 2px solid black;
  background-color: white;
}

p{
  font-family: futura;
  width: 644px;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 20px;
  text-align: center;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  background-color: white;
}

.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  font-family: futura;
  font-size: 10px;
  background-color: white;
  padding: 0px 0px 0px 20px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
#score{
  margin: auto 20px auto 10px;
}
#highscore{
  margin: auto 20px auto 10px;
}
#start{
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, calc(-50% + 27.5px));
  height: 100px;
  width: 200px;
  background-color: #00d0ff;
  border-radius: 30px;
  border: 5px solid #00a6ff;
  font-family: futura;
  font-size: 30px;
}

img{
  display: none;
}
#buttonControls{
  display: none;
}
@media screen and (max-width: 600px) {
  .gameWrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
  }
  p{
    display: none;
  }
  #buttonControls{
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    height: 300px;
    width: 100%;
    border: 1px solid black;
    background-color: white;
  }
  .directionButton{
    height: 100%;
    width: 100%;
    font-size: 50px;
    border-radius: 1px;
    background-color: rgba(255, 0, 0, 0.3);
  }
  #up{
    grid-column-start: 2;
    grid-column-end: 3;
  }
  #left{
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #right{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #down{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}